/* Estilo para todo el documento */
body {
  font-family: "Times New Roman", serif;
  font-size: 12pt;
  text-align: justify;
  line-height: 1.5;
}

/* Estilo para los títulos */
h1, h2, h3, h4 {
  font-family: "Times New Roman", serif;
}

/* Estilo para los párrafos */
p {
  font-family: "Times New Roman", serif;
  font-size: 12pt;
  text-align: justify;
  line-height: 1.5;
}
